{% extends 'base.html.twig' %}

{% block title %}LinkGroup - Accueil
{% endblock %}

{% block body %}
	<div class="container mx-auto px-16">
		<div class="mt-4 bg-white rounded-lg shadow-lg p-4">
			<h1 class="text-center text-3xl font-bold">Bienvenue sur LinkGroup</h1>
			<p class="text-lg text-center">LinkGroup est un outil permettant de regrouper des liens en un groupe, et qui possède une page pour les répertorier.</p>
		</div>
	</div>
{% endblock %}
